* {
	box-sizing: border-box;
}

body {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  list-style-type: none;
	background-color: black;
  min-height: 100vh;
}
.gameBoard{
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 400px;
  padding: 5px;
  border: 1px solid #e4e4e4;
}
.gameBoard button[type=submit] {
  display: block;
  width: 125px;
  height: 125px;
  border: 1px solid #e4e4e4;
  color: white;
  font-size: 5em;
  font-weight: 100;
  text-align: center;
  padding: 20px;

}
.gameBoard__column{
  	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.winnerNotice{
  color: white;
  font-size: 5em;
  font-weight: 100;
  text-align: center;
}
.winnerNotice__whichPlayer{
  -webkit-animation-name: winnerNotice__whichPlayer; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  animation-name: winnerNotice__whichPlayer;
  animation-duration: 4s;
}

@-webkit-keyframes winnerNotice__whichPlayer; {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}

@keyframes winnerNotice__whichPlayer {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
