<div class="tieNotice">
	<img class="tieNotice__image" src="/its-a-tie.png" alt="You have tied">
	<div class="tieNotice__message">No winner this time...</div>
</div>


<br>
<br>
<form action="/reset" method="post" class="resetButton">
	<button type="submit" name="reset" value="yes">Play Again?</button>
</form>

<br>